<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Radar - Talonário Eletrônico</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://cdn.rawgit.com/devserpro/radar/master/assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/devserpro/radar/master/assets/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/devserpro/radar/master/assets/lib/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/devserpro/radar/master/assets/lib/device-mockups/device-mockups.min.css">

    <!-- Theme CSS -->
    <link href="https://cdn.rawgit.com/devserpro/radar/master/assets/css/new-age.min.css" rel="stylesheet">
	<link rel="icon" href="https://cdn.rawgit.com/devserpro/radar/master/assets/img/serpro.png" type="image/png" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<script>		
		function definirVideo(urlVideo) {
			var player = document.getElementById('video');
			var mp4Vid = document.getElementById('videoSource');
			player.pause();
			mp4Vid.src = urlVideo;
			player.load();
			player.play();
		}
	</script>
	
	<style>
		header {
			background: url(https://cdn.rawgit.com/devserpro/radar/master/assets/img/bg-pattern.png), linear-gradient(to left, #062036, #105794);
		}
		
		/***** Modal *****/
		.modal-backdrop.in {
			filter: alpha(opacity=7);
			opacity: 0.7;
		}
		 
		.modal-content {
			background: none;
			border: 0;
			-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
			-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
		}
		 
		.modal-body {
			padding: 0 25px 25px 25px;
		}
		 
		.modal-header {
			padding: 25px 25px 15px 25px;
			text-align: right;
		}
		 
		.modal-header, .modal-footer {
			border: 0;
		}
		 
		.modal-header .close {
			float: none;
			margin: 0;
			font-size: 36px;
			color: #fff;
			font-weight: 300;
			text-shadow: none;
			opacity: 1;
		}
		
		video.loading {
			background: white url(https://cdn.rawgit.com/devserpro/radar/master/assets/img/loader.gif) center center no-repeat;
		}
		
		.btn-outline {
			background-color: #326490 !important;
			clear: both !important;
			font-weight: bold !important;
		}
		
		.btn {
			width: 320px !important;
		}
		
		span .text-primary {
			color: #326490 !important;
			font-size: 700%;
		}
	</style>

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" target="_blank" href="https://www.serpro.gov.br">Serpro</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#page-top">Início</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">Videos</a>
                    </li>
                    <li>
                        <a class="page-scroll" target="_blank" href="https://servicos.serpro.gov.br/radar">Conheça o Radar!</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Página tutorial com videos da solução de Talonário Eletrônico do Radar.</h1>
                            <a href="#features" class="btn btn-outline btn-xl page-scroll" style="font-weight: bold;">Ver Videos</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="https://cdn.rawgit.com/devserpro/radar/master/assets/img/demo-screen-1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Videos tutoriais</h2>
                        <p class="text-muted">Videos da solução de Talonário Eletrônico - Radar</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="https://cdn.rawgit.com/devserpro/radar/master/assets/img/demo-screen-1.jpg" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="container-fluid">
						<div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <span class="icon-lock text-primary"></span>
                                    <h3>Login (Autenticação)</h3>
                                    <a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/1%20Login.mp4?raw=true')" data-toggle="modal" data-modal-id="modal-video-login" class="btn btn-outline btn-xl" style="background-color: #FDCC52;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Ver Vídeo</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <span class="icon-lock-open text-primary"></span>
                                    <h3>Autorizar Dispositivo</h3>
                                    <a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/2%20AutorizarDispositivo.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Ver Vídeo</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <span class="icon-settings text-primary"></span>
                                    <h3>PIN - Senha Offline</h3>
                                    <a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/3%20PINSenhaOffline.mp4?raw=true');" data-toggle="modal" class="launch-modal btn btn-outline btn-xl" style="background-color: #FDCC52;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Ver Vídeo</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <span class="icon-screen-smartphone text-primary"></span>
                                    <h3>Funcionalidades Adicionais</h3>
                                    <a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/4_1%20FuncionalidadesAdicionaisQuepe.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important; " class="fa fa-play"></span> Funções Complementares</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/4_2%20FuncionalidadesAdicionaisQuadrados.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> RADAR +</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <span class="icon-speedometer text-primary"></span>
                                    <h3>Consultas de Veículos</h3>
                                    <a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/5_1%20ConsultaVeiculoPlaca.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Placa</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/5_2%20ConsultaVeiculoChassi.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Chassi</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/5_3%20ConsultaVeiculoRenavam.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Renavam</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/5_4%20ConsultaVeiculoRegInf.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Registro de Infração</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <span class="icon-people text-primary"></span>
                                    <h3>Consultas de Condutor</h3>
                                    <a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/6_1%20ConsultaCondutorCPF.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> CPF</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/6_2%20ConsultaCondutorCNH.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> CNH</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/6_3%20ConsultaCondutorNome.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Nome</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/6_4%20ConsultaCondutorRegInf.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Registro de Infração</a>
                                </div>
                            </div>
                        </div>
						<div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <span class="icon-docs text-primary"></span>
                                    <h3>Registros de Infração</h3>
                                    <a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/7_1%20RegistroInfracaoTipos.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Tipo de Infrator</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/7_2%20RegistroInfracaoAcoes.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Ações Adicionais</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/7_3%20RegistroInfracaoVeicPlaca.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Veículo Nacional</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/7_4%20RegistroInfracaoVeicEstrang.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Veículo Estrangeiro</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/7_5%20RegistroInfracaoCondIdentif.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Tipo de Condutor</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/7_6%20RegistroInfracaoCondHab.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Condutor Brasileiro</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/7_7%20RegistroInfracaoCondHabEstr.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Condutor Estrangeiro</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/7_8%20RegistroInfracaoCondEstrang.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Estrangeiro não Habilitado</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/7_9%20RegistroInfracaoLocal.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Local de Infração</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/7_10%20RegistroInfracaoDtHrTipif.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Tipificação</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/7_11%20RegistroInfracaoObserv.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Observações</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/7_12%20RegistroInfracaoMedAdmEnvio.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Medidas Administrativas</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/7_13%20RegistroInfracaoPedestre.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Pedestre</a>
                                </div>
								<br />
								<div class="feature-item">
                                    <span class="icon-doc text-primary"></span>
                                    <h3>Logs Aplicativos</h3>
                                    <a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/11%20LogsAplicativos.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Ver Vídeo</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <span class="icon-book-open text-primary"></span>
                                    <h3>Infrações</h3>
                                    <a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/8_1%20InfracoesTransm.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Transmitidas</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/8_2%20InfracoesPendentes.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Abertas / Pendentes</a>
									<a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/8_3%20InfracoesCanceladas.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52; margin-top: 10px;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Canceladas</a>
                                </div>
								<br />
								<div class="feature-item">
                                    <span class="icon-list text-primary"></span>
                                    <h3>Tabelas</h3>
                                    <a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/9%20Tabelas.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Ver Vídeo</a>
                                </div>
								<br />
								<div class="feature-item">
                                    <span class="icon-refresh text-primary"></span>
                                    <h3>Sincronização de Dados</h3>
                                    <a href="#modal-video" onclick="definirVideo('https://github.com/devserpro/radar/blob/master/videos/10%20Sincroniza%C3%A7%C3%A3oDados.mp4?raw=true');" data-toggle="modal" class="btn btn-outline btn-xl" style="background-color: #FDCC52;" style="font-weight: bold;"><span style="font-size: 100%; color: white !important;" class="fa fa-play"></span> Ver Vídeo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	
	<!-- MODAL -->
	<div class="modal fade" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content" style="width: 100% !important; height: 100% !important;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="width: 100% !important; height: 100% !important;">
					<div class="modal-video" style="width: 100% !important; height: 100% !important;">
						<div class="embed-responsive embed-responsive-16by9" style="width: 100% !important; height: 100% !important;">
							<video id="video" style="width: 100% !important; height: 100% !important;" controls>
								<source id="videoSource" type="video/mp4" />
								Seu navegador não suporta videos HTML5.
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <footer>
        <div class="container">
            <p>&copy; 2017 Serpro.</p>
        </div>
    </footer>
	
	<!-- jQuery -->
    <script src="https://cdn.rawgit.com/devserpro/radar/master/assets/lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://cdn.rawgit.com/devserpro/radar/master/assets/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="https://cdn.rawgit.com/devserpro/radar/master/assets/js/new-age.min.js"></script>
	
	<script>
		$('#modal-video').on('hidden.bs.modal', function(event) {
			var player = document.getElementById('video');
			player.pause();
		});
		
		$('#video').on('loadstart', function (event) {
			$(this).addClass('loading');
		});
		$('#video').on('canplay', function (event) {
			$(this).removeClass('loading');
			$(this).attr('poster', '');
		});
	</script>

</body>

</html>
